<section layout="row" flex layout-fill ng-if="currentUser">
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" flex="15" ng-if="currentUser">
    <md-content layout-padding>
      <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>
      <div layout="column">
        <md-button md-no-ink class="" ui-sref="users" >Users</md-button>
        <md-button md-no-ink class="" ui-sref="apps">Apps</md-button>
        <md-button md-no-ink class="" ui-sref="roles">Roles</md-button>
        <md-button md-no-ink class="" ui-sref="buckets">Buckets</md-button>
      </div>
    </md-content>
  </md-sidenav>
	<div ui-view></div>
</section>
<div ui-view ng-if="!currentUser"></div>
