<md-toolbar class="navbar-dark shadow-z-2">
  <div class="md-toolbar-tools">
    <h2 class="md-display-2">
        <a href="" class="hc-title" ng-click="clickTitle()">
          <i class="fa fa-cube ion-icon-lg hc-icon" style=""></i>
          Tessellate
        </a>
    </h2>
    <span flex></span>
    <div nf-if="navButtons" class="navbtn-wrapper" layout="row" ng-repeat="btn in navButtons" >
      <md-button class="nav-buttons outline" ng-click="clickBtn($index)">{{btn.text}}</md-button>
    </div>
    <div ng-if="!currentUser" layout="row">
      <md-button class="nav-buttons outline-green" ui-sref="login" >Login</md-button>
      <md-button class="nav-buttons outline-blue" ui-sref="signup">Signup</md-button>
    </div>
    <md-select ng-if="currentUser" ng-model="someVal" aria-label="User">
      <md-select-label>
        <i class="fa fa-user" ng-if="!currentUser.name"></i>
        &nbsp;
        {{currentUser.name}}
        &nbsp;
      </md-select-label>
      <md-option ui-sref="account">Profile</md-option>
      <md-option ng-click="logout()">Logout</md-option>
    </md-select>
      <!-- <md-button class="md-warn" ui-sref="signup" href="#/signup">Login</md-button> -->
  </div>
</md-toolbar>
