	
	<div flex layout="row" layout-align="center" class="hc-background">
			<span>
				Questions? <md-button href="mailto:sprue.dev@gmail.com" style="display:inline;">Email Us</md-button>
			</span>
	</div>
	<%- scriptTags('vendor') %>
	<%- scriptTags('app') %>
	</body>
</html>