<!DOCTYPE html>
<html lang="en">
	<head> 
		<link rel="stylesheet" href="app.css">
		<link rel="stylesheet" href="users/user.css">
		<link rel="stylesheet" href="/components/nav/nav.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<title>Hypercube-Server</title>
	</head>
	<body ng-app="hypercubeServer" ng-controller="AppCtrl">

