<!DOCTYPE html>
<html lang="en">
	<head> 
		<link rel="stylesheet" href="app.css">
		<link rel="stylesheet" href="applications/application/users/user.css">
		<link rel="stylesheet" href="components/nav/nav.css">
		<link rel="stylesheet" href="applications/applications.css">
		<link rel="stylesheet" href="bower/angular-material/angular-material.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<title>Tessellate</title>
	</head>
	<body ng-app="tessellate" ng-controller="AppCtrl" class="hc-background" layout-align="center end">
		<div ui-view class="main-content" layout-fill>
		</div>
		<div layout="row" layout-align="center end" class="navbar-dark main-footer">
			<span class="navbar-dark-label">
				Questions? <md-button href="mailto:sprue.dev@gmail.com" style="display:inline;">Email Us</md-button>
			</span>
		</div>
		<%- scriptTags('vendor') %>
		<%- scriptTags('app') %>
	</body>
</html>