<md-content class="hc-background" layout="row" layout-padding layout-align="center">
  <md-card flex="55">
    <md-card-content layout-padding>
        <div layout="column" layout-sm="column">
          <md-input-container>
            <label>Username</label>
            <input ng-model="account.username">
          </md-input-container>
          <md-input-container>
            <label>Name</label>
            <input ng-model="account.name">
          </md-input-container>
          <md-input-container>
            <label>Title</label>
            <input ng-model="account.title">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input ng-model="account.email" ng-required="true" type="email">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input ng-model="account.password" ng-required="true" type="password">
          </md-input-container>
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="update()">Update</md-button>
          </section>
        </div>
    </md-card-content>
  </md-card>
</md-content>