<md-content class="hc-background">
  <div id="table-wrap">
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Description</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="template in templates"  ui-sref="template({name:template.name})">
          <td data-title="Name">{{template.name}}</td>
          <td data-title="Author">{{template.author.username || "No Author"}}</td>
          <td data-title="Description">{{template.description || "No Description"}}</td>
          <td data-title="Tags">{{template.tags || "No Tags"}}</td>
<!--           <td data-title="Delete" stop-event>      
            <md-button ng-click="delete($index)"
               aria-label="Delete"
               class="md-icon-button" >
                <i class="fa fa-trash"></i>
            </md-button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</md-content>
