<md-content class="hc-background" layout layout-padding layout-align="center">
    <md-card flex="55">
      <md-card-content>
         <md-content layout-padding layout="column" layout-sm="column" layout-align="center">
         <form name="loginForm">
          <div flex>
            <md-input-container>
              <label>Username or Email</label>
              <input ng-model="userData.username" type="text" required name="username">
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="userData.email" type="title" name="title" required>
            </md-input-container>
            <md-input-container>
              <label>Title</label>
              <input ng-model="userData.title" type="title" name="title" required>
            </md-input-container>
          </div>
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-progress-circular md-mode="indeterminate" ng-if="userData.loading"></md-progress-circular>
            <md-button class="md-raised" aria-label="Login" ng-click="saveAccount()"  type="submit">
              <span >Save</span>
            </md-button>
          </section>
        </md-content>
        </form>
      </md-card-content>
    </md-card>
  </md-content>