<md-content class="hc-background">
  <div layout="row" layout-sm="column">
    <div id="table-wrap">
      <h2 class="md-title" style=" display:inline;">Directories</h2>
      <div class="pull-right">
        <md-button class="md-raised md-fab md-mini" aria-label="Add Directory" ng-click="startNew('directory', $event)">
          <i class="fa fa-plus"></i>
        </md-button>
      </div>
      <div class="null-list-message" ng-if="!app.directories.length" ng-click="startNew('directory', $event)">
        <p>No Directories. Click to add.</p>
      </div>
      <div class="table-responsive-vertical shadow-z-1" ng-if="directories.length">
    <!-- Table starts here -->
      <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>Name</th>
            <th>Groups</th>
            <th># of Accounts</th>
            <!-- <th>Description</th> -->
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="directory in directories"  ui-sref="app.directory({name:directory.name})">
            <td data-title="Name">{{directory.name}}</td>
            <td data-title="Accounts">{{directory.accounts.length || "No Accounts"}}</td>
            <!-- <td data-title="Description">{{directory.description || "No Description"}}</td> -->
            <td data-title="Delete" stop-event>      
              <md-button ng-click="delete($index)"
                 aria-label="Delete"
                 class="md-icon-button" >
                  <i class="fa fa-trash"></i>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="table-wrap">
    <div layout="row" style="height:80px;">
      <h2 class="md-title">Groups</h2>
      <div flex></div>
      <div style="padding-top:20px;">
        <md-button class="md-raised md-fab md-mini md-primary" aria-label="Add Directory" ng-click="startNew('group', $event)">
          <i class="fa fa-plus"></i>
        </md-button>
      </div>
    </div>
    <div class="null-list-message" ng-if="!groups.length"  ng-click="startNew('group', $event)">
      <p>No Groups. Click to add.</p>
    </div>
    <div class="table-responsive-vertical md-whiteframe-z2">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue" ng-if="groups.length">
      <thead>
        <tr>
          <th>Name</th>
          <th># of Accounts</th>
          <!-- <th>Description</th> -->
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="group in groups"  ui-sref="app.group({groupName:group.name})">
          <td data-title="Name">{{group.name}}</td>
          <td data-title="Accounts">{{group.accounts.length || "No Accounts"}}</td>
          <!-- <td data-title="Description">{{group.description || "No Description"}}</td> -->
          <td data-title="Delete" stop-event>      
            <md-button ng-click="deleteGroup($index)"
               aria-label="Delete"
               class="md-icon-button" >
                <i class="fa fa-trash"></i>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  <div id="table-wrap">
    <h2 class="md-title">Accounts</h2>
    <div class="table-responsive-vertical md-whiteframe-z2">
    <!-- Table starts here -->
      <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Groups</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="account in accounts"  ui-sref="app.account({username:account.username})">
            <td data-title="Username">{{account.username}}</td>
            <td data-title="Name">{{account.name}}</td>
            <td data-title="Email">{{account.email}}</td>
            <td data-title="Groups">{{account.groups || "No Groups"}}</td>
            <td data-title="Delete" stop-event>      
              <md-button ng-click="delete($index)"
                 aria-label="Delete"
                 class="md-icon-button" >
                  <i class="fa fa-trash"></i>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</md-content>
