  <md-content>
    <div id="table-wrap">
    <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
      <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>Name</th>
            <th># of accounts</th>
            <th>CreatedAt</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="role in roles"  ui-sref="role({name:role.name})">
            <td data-title="Name">{{role.name}}</td>
            <td data-title="Accounts">{{role.accounts.length}}</td>
            <td data-title="CreatedAt">{{role.createdAt}}</td>
            <td data-title="Delete" stop-event>      
              <md-button ng-click="delete($index)"
                 aria-label="Delete"
                 class="md-icon-button" >
                  <i class="fa fa-trash"></i>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </md-content>
