<md-content layout="column" layout-padding layout-align="center center">
  <md-whiteframe flex class="md-whiteframe-z1" layout-align="center center">
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-input-container >
        <!-- Use floating label instead of placeholder -->
        <label>Name</label>
        <input ng-model="application.name" type="text">
      </md-input-container>
      <md-input-container >
        <!-- Use floating placeholder instead of label -->
        <label>createdAt</label>
        <input ng-model="application.createdAt" type="text">
      </md-input-container>
    </section>
    <section layout="column" layout-sm="column">
      <!-- <h4 class="md-title">Role</h4> -->
      <label>Owner</label>
      <md-select ng-model="application.owner" md-on-open="getUsers()" style="min-width: 200px;">
        <md-select-label>{{ application.owner ? application.owner.username : 'No Owner. Please Select' }}</md-select-label>
        <md-option ng-value="user" ng-repeat="user in usersList">{{user.username}}</md-option>
      </md-select>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-raised" ng-click="update()">Save</md-button>
    </section>
  </md-whiteframe>
</md-content>