<md-content>
  <div id="table-wrap">
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in applications"  ui-sref="app({name:app.name})">
          <td data-title="Name">{{app.name}}</td>
          <td data-title="Owner">{{app.owner.username || "No Owner"}}</td>
          <td data-title="Delete" stop-event>      
            <md-button ng-click="delete($index)"
               aria-label="Delete"
               class="md-icon-button" >
                <i class="fa fa-trash"></i>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</md-content>
