<md-content class="hc-background" layout layout-padding layout-align="center">
  <md-card flex="55">
    <md-card-content layout-padding>
        <div layout="column" layout-sm="column">
          <md-input-container>
            <label>Name</label>
            <input ng-model="application.name">
          </md-input-container>
          <md-input-container>
            <label>Owner</label>
            <input ng-model="application.owner">
          </md-input-container>
          <md-input-container>
            <label>Site Url</label>
            <input ng-model="application.frontend.siteUrl">
          </md-input-container>
        </div>
        <section layout="row" layout-sm="column" layout-align="center center">
          <md-button class="md-raised md-primary" ng-click="update()">Update</md-button>
          <md-button class="md-raised md-primary" ng-click="delete()">Delete</md-button>
        </section>
    </md-card-content>
  </md-card>
</md-content>