<md-content class="hc-background" layout-padding layout-align="center" layout="row" >
  <md-whiteframe class="md-whiteframe-z2" layout="row" flex-sm="80" flex="60" layout-padding layout-align="center center">
    <div flex="95">
      <md-input-container>
        <label>Name</label>
        <input ng-model="application.name" disabled>
      </md-input-container>
      <md-input-container>
        <label>Owner</label>
        <input ng-model="application.owner.username" type="text" disabled>
      </md-input-container>
      <md-input-container>
        <label>Website Url</label>
        <input ng-model="application.frontend.siteUrl">
      </md-input-container>
      <md-input-container >
        <label>Bucket Url</label>
        <input ng-model="application.frontend.bucketUrl" disabled>
      </md-input-container>
        <!-- <md-subheader class="md-no-sticky">Collaborators</md-subheader> -->
<!--       <md-input-container>
        <label>Collaborators (Coming soon)</label>
        <input type="text" disabled>
      </md-input-container> -->
        <label>Collaborators</label>
        <md-chips ng-model="data.selectedUsers" md-autocomplete-snap md-require-match>
            <md-autocomplete
              md-selected-item="data.selectedUser"
              md-search-text-change="searchUsers(data.collabQueryText)"
              md-search-text="data.collabQueryText"
              md-selected-item-change="selectedUserChange(item)"
              md-items="user in collabSearch(data.collabQueryText)"
              md-item-text="user.name"
              md-min-length="0"
              placeholder="Search Users" style="" layout-fill>
            <md-item-template>
              <span md-highlight-text="data.collabQueryText" md-highlight-flags="^i">{{user.name}}</span>
            </md-item-template>
            <md-not-found>
              No matches found for "{{data.collabQueryText}}".
            </md-not-found>
          </md-autocomplete>

          <!-- <md-autocomplete
              md-selected-item="ctrl.selectedItem"
              md-search-text="ctrl.searchText"
              md-items="user in ctrl.querySearch(ctrl.searchText)"
              md-item-text="user.name"
              placeholder="Search for a vegetable">
              <span md-highlight-text="ctrl.searchText">{{user.name}} ({{user.username}})</span>
            </md-autocomplete> -->
            <md-chip-template>
              <span>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.username}})</em>
              </span>
            </md-chip-template>
          </md-chips>

      <div layout="row" layout-align="center center">
        <md-button class="md-raised" ng-click="update()">Save</md-button>
      </div>
    </div>
  </md-whiteframe>
</md-content>