<md-dialog aria-label="New Application" flex="60" flex-sm="80" class="new-app-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>New Group</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('not applicable')">
        <i class="fa fa-close" aria-label="Close dialog" ng-click="cancel()" style="font-size:1.5em;"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form layout-fill layout="row" layout-align="center center">
      <div layout="column" layout-align="center center" flex="75">
        <div layout="column" layout-align="start start" layout-fill>
          <label class="search-label">Group Name</label>
          <md-input-container layout-fill layout-padding md-no-float="true" style="font-size:.7em">
            <!-- <label>Application Name</label> -->
            <input ng-model="newData.group.name" placeholder="exampleApp">
          </md-input-container>
        </div>
        <div layout="column" layout-align="start start" layout-fill>
          <label class="search-label">Accounts</label>
          <md-chips ng-model="data.selectedAccounts" md-autocomplete-snap md-require-match layout-fill>
            <md-autocomplete
              md-selected-item="data.selectedAccount"
              md-search-text-change="accountSearch(data.accountQueryText)"
              md-search-text="data.accountQueryText"
              md-selected-item-change="selectedUserChange(item)"
              md-items="user in accountSearch(data.accountQueryText)"
              md-item-text="user.name"
              md-min-length="0"
              placeholder="Search Users" style="" layout-fill>
              <md-item-template>
                <span md-highlight-text="data.accountQueryText" md-highlight-flags="^i">{{user.name}}</span>
              </md-item-template>
              <md-not-found>
                No matches found for "{{data.accountQueryText}}".
              </md-not-found>
            </md-autocomplete>
            <md-chip-template>
              <span>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.username}})</em>
              </span>
            </md-chip-template>
          </md-chips>
        </div>
      </div>
    </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-warn">
     Cancel
    </md-button>
    <md-button ng-click="create(newData.group)" class="md-primary">
      Create
    </md-button>
  </div>
</md-dialog>



