<md-content class="hc-background" layout="row" layout-padding layout-align="center">
  <md-card flex="55">
    <md-card-content layout-padding>
        <div layout="column" layout-sm="column">
          <md-input-container>
            <label>Name</label>
            <input ng-model="group.name">
          </md-input-container>
          <md-input-container>
            <label>Accounts</label>
            <input ng-model="group.accounts">
          </md-input-container>
          <section layout="row" layout-sm="column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="update()">Update</md-button>
          </section>
        </div>
    </md-card-content>
  </md-card>
</md-content>